<h1 class="inside-h1">Account Management</h1>

<%- messages() %>

<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
<% } %>

<h2>Welcome Basic</h2>
<p>You're logged in</p>
<p><a href="#">Edit Account Information</a></p>