<div class="main">
    <div class="hero-section">
        <h1><%- welcomeMessage %></h1>
        <div class="hero">
            <div class="hero-image">
                <img src="images/vehicles/delorean.jpg" alt="Delorean">
            </div>
            <div class="hero-text-box">
                <h2>DMC Delorean</h2>
                <ul>
                    <li>3 Cup holders</li>
                    <li>Superman doors</li>
                    <li>Fuzzy dicel</li>
                </ul>
                <a href="#" class="btn btn-primary">Own Today</a>
            </div>
        </div>
    </div>
    <div class="upgrades-reviews">
        <div class="reviews">
            <h2>DMC Dolorean Reviews</h2>
            <ul>
                <li>"So fast it's almost like traveling in time." (4/5)</li>
                <li>"Coolest ride on the road." (4/5)</li>
                <li>"I'm feeling McFly!" (5/5)</li>
                <li>"The most futuristic ride of the day." (4.5/5)</li>
                <li>"80's livin and I love it!" (5/5)</li>
            </ul>
        </div>
        <div class="upgrades">
            <h2>Delorean Upgrades</h2>
            <div class="upgrades-gallery">
                <div class="item">
                    <div class="img">
                        <img src="images/upgrades/flux-cap.png" alt="Flux Capacitor">
                    </div>
                    <div class="name"><a href="#">Flux Capacitor</a></div>
                </div>
                <div class="item">
                    <div class="img">
                        <img src="images/upgrades/flame.jpg" alt="Flame Decals">
                    </div>
                    <div class="name"><a href="#">Flame Decals</a></div>
                </div>
                <div class="item">
                    <div class="img">
                        <img src="images/upgrades/bumper_sticker.jpg" alt="Bumper Sticker">
                    </div>
                    <div class="name"><a href="#">Bumper Stickers</a></div>
                </div>
                <div class="item">
                    <div class="img">
                        <img src="images/upgrades/hub-cap.jpg" alt="Hub Cap">
                    </div>
                    <div class="name"><a href="#">Hub Caps</a></div>
                </div>
            </div>
        </div>
    </div>
</div>